mixin services-item(img, text)
  .services-item.j_si
    .s-img
      img(src=img)
    .s-dscr
      span= text
    .s-dscr-h
      p
        | Якщо, ви хочете інвестувати в економіку США, ми допоможемо прийняти участь в
        | програмі ЕВ-5. Перед вами відкривається безліч можливостей:
        ul
          li отримання Green Card;
          li статус постійного резидента США;
          li проживання на території країни с дружиною/чоловіком та неодруженими дітьми віком до 21 року;
          li дозвіл вкладаті гроші в саму програму EB-5 та в будь-які комерційні проекти.
        | У нас ви дізнаєтесь про всі вимоги до кандидатів та забезпечите собі  повний
        | супровід в отриманні візи.
